@using System.Activities.Expressions
@using Model
@model IEnumerable<Wedstrijd>

@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/datatables")
@Styles.Render("~/Content/datatables")



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h2>Calender</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-4"></div>
            <div class="col-sm-3 col-md-4">
                Selecteer deelnemende ploeg
                @Html.DropDownList("id", (List<SelectListItem>)ViewBag.ClubId, htmlAttributes: new { @class = "form-control" })

            </div>
            <div class="col-sm-3 col-md-4">
                Selecteer een tijdspanne
                <p>
                    Begindatum : <input type="text" id="datepicker1">
                </p>
                <p>
                    Eindatum   : <input type="text" id="datepicker2">
                </p>

            </div>
            <div class="col-sm-3 col-md-4"></div>

        </div>
        <div class="row">
            <div class="col-sm-3 col-md-4"></div>
            <div class="col-sm-3 col-md-4">
                <input type="submit" value="Zend" class="btn btn-default" />
            </div>
            <div class="col-sm-3 col-md-4"></div>
            <div class="col-sm-3 col-md-4"></div>
        </div>
    </div>


    <input type="hidden" name="dateField1" id="dateField1" value="@ViewBag.Begindatum" />
    <input type="hidden" name="dateField2" id="dateField2" value="@ViewBag.EindDatum"/>

  


}

@section scripts{
    <script type="text/javascript">

        window.onload = function() {
            var currentDate1;
            var currentDate2;
            $(document).ready(function() {


                $('#datepicker1').datepicker(
                {
                    dateFormat: "dd-mm-yy",
                    firstDay: 1,
                    minDate: new Date(),
                    onSelect: function() {
                        currentDate1 = $("#datepicker1").datepicker("getDate");
                        if (currentDate1 != null) {
                            console.log(currentDate1);
                            $('#dateField1').val(currentDate1);
                            $("#datepicker2").datepicker('option', 'minDate', currentDate1);
                            if (currentDate2 < currentDate1) {
                                $('#datepicker2').datepicker("setDate", currentDate1);
                            }
                        }
                    }
                });

                $('#datepicker2').datepicker(
                {
                    dateFormat: "dd-mm-yy",
                    firstDay: 1,
                    onSelect: function() {
                        currentDate2 = $("#datepicker2").datepicker("getDate");
                        if (currentDate2 != null) {
                            console.log(currentDate2);

                            $('#dateField2').val(currentDate2);
                            $("#datepicker1").datepicker('option', 'maxDate', currentDate2);
                            if (currentDate1 > currentDate2) {
                                $('#datepicker1').datepicker("setDate", currentDate2);
                            }
                        }
                    }
                });

                if ($('#dateField1').val() != null) {
                    $('#datepicker1').datepicker("setDate", new Date($('#dateField1').val()));
                } else {
                    $('#datepicker1').datepicker("setDate", new Date());
                }


                currentDate1 = $("#datepicker1").datepicker("getDate");
                $('#dateField1').val(currentDate1);

                if ($('#dateField2').val() != null) {
                    $('#datepicker2').datepicker("setDate", new Date($('#dateField2').val()));
                } else {
                    $('#datepicker2').datepicker("setDate", new Date());
                }


                currentDate2 = $("#datepicker2").datepicker("getDate");
                $('#dateField2').val(currentDate2);

                $("#datepicker1").datepicker('option', 'maxDate', currentDate2);
                $("#datepicker2").datepicker('option', 'minDate', currentDate1);

                $('#dataTable').DataTable({
                    language: {
                        "sProcessing": "Bezig...",
                        "sLengthMenu": "_MENU_ resultaten weergeven",
                        "sZeroRecords": "Geen data om weer te geven",
                        "sInfo": "_END_  van _TOTAL_ elementen weergegeven",
                        "sInfoEmpty": "Geen data om weer te geven",
                        "sInfoFiltered": " (gefilterd uit _MAX_ regels)",
                        "sInfoPostFix": "",
                        "sSearch": "Zoeken:",
                        "sEmptyTable": "Geen gegevens aanwezig in de tabel",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                        "oPaginate": {
                            "sFirst": "Eerste pagina",
                            "sLast": "Laatste pagina",
                            "sNext": "Volgende pagina",
                            "sPrevious": "Vorige pagina"
                        },
                        aoColumnDefs: [
                         { 'bSortable': false, 'aTargets': [0] }
                        ],
                        "order": [[0, "asc"]]

                    }
                });
            });


        }


    </script>

}


<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Thuisploeg
            </th>
            <th>
                Bezoekers
            </th>
    
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="wedstrijdrow">

                <td>
                    @Html.DisplayFor(modelItem => item.datum)
                    <br/>
                    @if (item.datum <= DateTime.Now.AddDays(30))
                    {
                        @Html.ActionLink("Ticket(s) kopen", "Create", "Ticket", new { wedstrijdId = item.id }, null)
                    }
    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club1.naam)
                    <img src="~/Content/Images/@item.Club1.logo" style="width: auto; height: auto;max-width: 50px; max-height: 50px;padding: 0px 10px 0px 0px;" id="@item.id-@item.Club1.naam"/>

                    @*<div style="width: auto; height: auto;max-width: 50px; max-height: 50px" id="@item.id-@item.Club1.naam"></div>
                    <script type="text/javascript">
                        window.onload = function () {
                            $('#@item.id-@item.Club1.naam').css('background-image', 'url(~/Content/Images/@item.Club1.logo)');

                        }
                    </script>*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club.naam)
                    <img src="~/Content/Images/@item.Club.logo" style="width: auto; height: auto;max-width: 50px; max-height: 50px;padding: 0px 10px 0px 0px;" id="@item.id-@item.Club.naam" />
                    @*<div style="width: auto; height: auto;max-width: 50px; max-height: 50px" id="@item.id-@item.Club.naam"></div>
                    <script type="text/javascript">
                        window.onload=function() {
                            $('#@item.id-@item.Club.naam').css('background-image', 'url(~/Content/Images/@item.Club.logo)');

                        }
                    </script>*@
                </td>

            </tr>

        }
    </tbody>

 

</table>








